<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Комментарий</title>
</head>
<body>
    <p><h3>{{ body }}</h3></p>
    <br/><br/>
    <h4>Заголовок публикации: <a href="{{ comment.get_absolute_url }}"> {{ comment.post.title }} </a></h4>
    <p><strong>Автор коммента:</strong> {{ comment.author }}</p>
    <p><strong>Дата:</strong> {{ comment.creation_date|date:'d M Y H:i' }}</p>
    <p><strong>Коммент:</strong> {{ comment.text|truncatechars:64 }} <a href="{{ comment.get_absolute_url }}"> Читать полностью >>> </a></p>
</body>
</html>
