<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} Bulletin Board {% endblock %} </title>

        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
   <div class="container">
       <a class="navbar-brand" href="/">Django Bulletin Board</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarResponsive"
               aria-controls="navbarResponsive" aria-expanded="false"
               aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">

       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               {% if user.is_authenticated %}

               <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link">
                            Вы зашли как <span class="text-white"> {{ user.username }} </span>
                        </a>
                   </li>
                   <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_add' %}">Новая публикация</a>
                   </li>
                   <li class="nav-item">
                        <a class="nav-link" href="{% url 'comment_moderation' %}">Модерация комментариев</a>
                   </li>
                   <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                   </li>


               {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Регистрация</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Войти</a>
                </li>
               {% endif %}
	   </ul>

   </div>
</nav>
        <!-- Page content-->
        <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">

                       {% block content %}

                       {% endblock content %}
                  </div>
              </div>
        </div>

    </body>
</html>
