<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.title }}</h1>
<div style="text-align: left">
{{ post.text| censor }}
</div>
<div style="text-align: right">
{{ post.creation_date | date:'d M Y' }}
</div>
{% endblock content %}

